/*-------------------------GENERAL-------------------------*/

p{
	font-size: 16px;
	text-align: justify;
	font-family: 'Muli', sans-serif;
}

h1{
	font-family: 'Alegreya SC', serif;
	font-size: 32px;
}

h2{
	font-family: 'Alegreya SC', serif;
}

h3{
	font-family: 'Alegreya SC', serif;
}

h4{
	font-family: 'Alegreya SC', serif;
	font-size: 24px;
	/*color: #119DCF;*/
}

h5{
	font-family: 'Alegreya SC', serif;
}

li{
	font-family: 'Alegreya SC', serif;
}

section{
	width: 100%;

}

body{
	margin: 0;
	background-color: #F8F8F8;
	color: black;
	font-family: 'Muli', sans-serif;
}


/*-------------------------ACCUEIL-------------------------*/

.accueil{
	background-image:url(fond11.jpg);
	background-repeat:no-repeat;
	/*background-color:#383838;*/
	/*opacity: 0.7;*/ 
	width: 100%;
	height: 670px;
	margin-top: 0;
	padding-top: 4%;
	
	/*width: auto;
	height: 100%;*/
}

.fond {
	background-color: black;
	width: 37%;
	height: 45%;
	opacity: 0.5;
	margin-left: 10%;
	margin-top: 6%;
	position: absolute;
	
	
}

.infos{
	z-index: 1;
	position: absolute;
	width: 37%;
	height: 60%;
	margin-left: 9%;
	margin-top: 2%;
	overflow: hidden;
	padding: 3%;
	
}

#photo{
	width:45%;
	height: auto;
	border-radius: 50%;
	display: block;/*
    padding-top: 8%;*/
    float: left;
    opacity: 1;
    z-index: 1;
    margin-top: 8.2%;
}

.accueil h1{
	color : white;
	/*text-align: center;*/
	margin-left: 53%;
	font-size: 70px;
	opacity: 1;
	z-index: 1;
}

.accueil p{
	color : white;
	/*text-align: center;*/
	margin-left: 53%;
	font-size: 14px;
	opacity: 1;
	z-index: 1;
	
}


/*-------------------------NAVBAR-------------------------*/
nav ul {
  overflow: hidden;
  background-color: #383838;
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 2;
}

nav li{
  display: inline;
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 13px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #e03c00;
  opacity: 0.33;
  color: white;
}

/*-------------------------ABOUT-------------------------*/

.about{
 	padding-left: 25%;
 	padding-right: 25%;
}

.about h1{
	text-align: center;
	color : #80bfff;
	margin-top: 5%;
	margin-bottom: 5%;

}

.about p{
	/*background-color: #80bfff;*/
	/*float: absolute;*/
	text-align: center;
	
}

.about hr{
	position : absolute;
}

/*-------------------------EXPERIENCE-------------------------*/
.experience{
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	/*padding-left: 20%;
 	padding-right: 20%;*/
 	margin-left: auto;
 	margin-right: auto;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 	width: 60%;
 	padding-bottom: 2%;
 	padding-right: 2.5%;
}

.experience h1{
	text-align: center;
	color : #80bfff;
	margin-bottom: 5%;
	margin-top: 5%;
}

/*.experience .timeline li{
	margin-left: 2%;
	margin-bottom: 2%;
}*/

/*.experience .timeline li:before{
	 content:'';
	 background: #fff;
	 position: absolute;
	 border-radius: 50%;
	 border: 2px solid #000;
	 left: 25px;
	 width: 10px;
	 height: 10px;
	 z-index: 1;
}*/

.experience .timeline{
	list-style-type: none;
	

}
/*
.experience .timeline:before{
	 content:'';
	 background: #555;
	 position: absolute;
	 left: 29px;
	 width: 2px;
	 height: 100%;
	 z-index: 1;
}*/

/*.experience h4{
	padding-left: 2%;
}

.experience p{
	margin-left: 2%;
}*/

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating img {
    -webkit-animation: rotating 10s linear infinite;
    float: left;
    width: 7%;
    
    margin-right: 2%;
    border-radius: 50%;
}

#myf h4{
	color: #AF0A0A;
}

#myfsb h4{
	color: #7200A7;
}

#leemo h4{
	color: #f17565;
}

#kenzo h4{
	color: #F1C101;
}


/*-------------------------FORMATION-------------------------*/
.formation{
	/*background-color: #80bfff;*/
	padding-left: 20%;
 	padding-right: 20%;
 	margin-bottom: 4%;
}

.formation h1{
	text-align: center;
	color : #80bfff;
	margin-top: 7%;
	margin-bottom: 5%;
}

.formation img{
	height: 710px;
	float: left;
	margin-right: 5%;
}

.formation .timeline{
	list-style-type: none;
	position:relative;
}


.formation-animation
{
	animation-duration: 7s;
	animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left:-100%;
  }
  
  to {
    margin-left:0%;
  }
}

/*-------------------------BENEVOLAT-------------------------*/

.projet{
	padding-left: 20%;
 	padding-right: 20%;
}

.projet h1{
	text-align: center;
	color : #80bfff;
	margin-top: 2%;
	margin-bottom: 3%;
}


/*.projet .column:hover {
  float: left;
  width: 40%;
  height: 40%;
  padding: 0 15px;
  margin-left: 14%;
}*/

/* Style the counter cards */
.projet .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 3%;
  float: left;
  width: 35%;
  padding: 0 15px;
  margin-left: 9%;
  margin-right: 2%;
}



.projet img{
	width: 180px;
	height: 180px;
	margin-left: 19%;
	margin-top: 5%;

}

.projet h5{
	text-align: center;
}

/* Remove extra left and right margins, due to padding */
/*.projet .row {margin: 0 -5px;}*/


/* Responsive columns */
/*@media screen and (max-width: 600px) {
  .projet .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}*/

/*-------------------------COMPETENCES-------------------------*/

.competence{
	padding-left: 20%;
 	padding-right: 20%;
}

.competence h1{
	text-align: center;
	color : #80bfff;
	margin-top: 2%;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}

.competence .card {
  margin: 2%;
  float: left;
  padding: 0 10px;
  margin-left: 9%;
}

progress{
	-webkit-appearance: none;
   appearance: none;
	width: 500px;
  height: 20px;
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

video{
	margin-left: 33%;
	margin-top: 2%;
}


/*-------------------------FOOTER-------------------------*/


/*footer{
	background-color : darkgrey;
	padding-bottom: 3%;
}*/


* {
  box-sizing: border-box;
}

footer {
	margin-top: 10%;
}
/* Create three equal columns that floats next to each other */
footer .column {
  float: left;
  width: 30%;
  padding: 5%;

   /* Should be removed. Only for demonstration */
}

#box{
	width: 100%;
	overflow: hidden;
	font-size: 16px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #4caf50;
}

input{
	border:none;
	outline: none;
	background: none;

}

#button{
	margin-top: 5%;
	width: 100%;
	background: none;
	border: 2px solid #4caf50;

}

/* Clear floats after the columns */
/*footer .row:after {
  content: "";
  display: table;
  clear: both;
}*/


