/*-------------------------GENERAL-------------------------*/

p{
	font-size: 14px;
	text-align: justify;
	font-family: OCR A Std, monospace;
}

h1{
	font-family: OCR A Std, monospace;
}

h2{
	font-family: OCR A Std, monospace;
}

h3{
	font-family: OCR A Std, monospace;
}

h4{
	font-family: OCR A Std, monospace;
}

h5{
	font-family: OCR A Std, monospace;
}

li{
	font-family: OCR A Std, monospace;
}

section{
	padding-left: 15%;
	padding-right: 15%;
}

body{
	margin: 0;
}

/*-------------------------ACCUEIL-------------------------*/

.accueil{
	background-image:url(fond.jpg);
	background-repeat:no-repeat;
	width: 100%;
	height: 460px;
	
	/*width: auto;
	height: 100%;*/
}

#photo{
	width:13%;
	height: auto;
	border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}

.accueil h1{
	color : white;
	text-align: center;
}

.accueil p{
	color : white;
	text-align: center;
	font-size:15px;
}


/*-------------------------NAVBAR-------------------------*/
nav ul {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  margin-top: 0;
}

nav li{
  display: inline;
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 13px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

/*-------------------------ABOUT-------------------------*/

.about{
	margin-left : 10%;
	margin-right: 10%;
 	overflow: auto;

}

.about h2{
	text-align: center;
	background-color: white;
	color : #80bfff;
	font-family: OCR A Std, monospace;
	margin-bottom: 3%;
	margin-top: 2%;
}

.about img{
	position: absolute;
	width : 10%;
	height: auto;
	border-radius: 50%;

}

.about h1{
	
	text-align: center;
	background-color: white;
	color : #80bfff;
	font-family: OCR A Std, monospace;
	margin-bottom: 5%;

}

.about p{
	/*background-color: #80bfff;*/
	color : black;
	font-family: OCR A Std, monospace;
	/*float: absolute;*/
	text-align: center;
	
}

.about hr{
	position : absolute;
}

/*-------------------------EXPERIENCE-------------------------*/
.experience{
	margin: 5%;
	margin-top: 3%;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.experience h1{
	text-align: center;
	color : #80bfff;
	font-family: OCR A Std, monospace;
	margin-bottom: 5%;
}

.experience .timeline li{
	margin-left: 2%;
	margin-bottom: 2%;
}

.experience .timeline li:before{
	 content:'';
	 background: #fff;
	 position: absolute;
	 border-radius: 50%;
	 border: 2px solid #000;
	 left: 25px;
	 width: 10px;
	 height: 10px;
	 z-index: 1;
}

.experience .timeline{
	list-style-type: none;
	position:relative;
}

.experience .timeline:before{
	 content:'';
	 background: #555;
	 position: absolute;
	 left: 29px;
	 width: 2px;
	 height: 100%;
	 z-index: 1;
}

/*-------------------------FORMATION-------------------------*/
.formation{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 5%;
	/*background-color: #80bfff;*/
}

.formation h1{
	text-align: center;
	color : #80bfff;
	font-family: OCR A Std, monospace;
	margin-bottom: 5%;
}

.formation img{
	height: 660px;
	float: left;
	margin-right: 5%;
}

.formation .timeline{
	list-style-type: none;
	position:relative;
}

/*-------------------------BENEVOLAT-------------------------*/

.projet{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3%;
}

.projet h1{
	text-align: center;
	background-color: white;
	color : #80bfff;
	font-family: OCR A Std, monospace;
}

/* Float four columns side by side */
.projet .column {
  float: left;
  width: 35%;
  height: 35%;
  padding: 0 15px;
  margin-left: 11%;
  margin-right: 2%;
}

/*.projet .column:hover {
  float: left;
  width: 40%;
  height: 40%;
  padding: 0 15px;
  margin-left: 14%;
}*/

/* Style the counter cards */
.projet .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1%;
}



.projet img{
	width: 180px;
	height: 180px;
	margin-right: auto;
	margin-left: auto;
}

.projet h5{
	text-align: center;
}

/* Remove extra left and right margins, due to padding */
/*.projet .row {margin: 0 -5px;}*/


/* Responsive columns */
/*@media screen and (max-width: 600px) {
  .projet .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}*/

/*-------------------------COMPETENCES-------------------------*/

.competence{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3%;
}

.competence h1{
	text-align: center;
	background-color: white;
	color : #80bfff;
	font-family: OCR A Std, monospace;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}


/*-------------------------FOOTER-------------------------*/


footer{
	background-color : darkgrey;
}


* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
footer .column {
  float: left;
  width: 33.33%;
  padding: 10px;
   /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
footer .row:after {
  content: "";
  display: table;
  clear: both;
}






@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating img {
    -webkit-animation: rotating 10s linear infinite;
}